@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

*,*::before,*::after{
    box-sizing: border-box;

}

.body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    width: 100%;
    
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    text-align: center;
}
h2{
    font-size: 34px;
    font-weight: 900;
}

h3{
    font-size: 18px;
    font-weight: 500;
}

h4{
    font-size: 14px;
    font-weight: 500;
    color: #828282;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    
}

/* Header start */
.header {
    width: 100%;
    height: auto;
    background-color: white;
    margin: 0;
    margin-bottom: 40px;
    border-bottom: 3px solid grey;
}


.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
    padding: 0 80px;

}

.nav_link{
    font-size: 18px;
    font-weight: 600;
    color: #828282;
    text-decoration: none;
    transition: color .2s ease;
}

.nav_link:last-child{
    margin-right: 0;
}

.nav_link:hover{
    color: #000;

}


/* header end */
/* intro start */
.intro{
    width: 100%;

}

.intro_wrapper{
    align-items: center;
    margin: 0 auto;
    padding: 0 6%;
    margin-bottom: 100px;
}

.intro_blockUp{
    display: flex;
    margin-bottom: 30px;
}

.title{
    font-size: 50px;
    width: 124px;
    letter-spacing: .06em;
}

.subs{
    width: 156px;
    justify-self: center;
    align-self: end;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto 20px auto;
}

.Denis{
    width: 100%;
    height: auto;
}

/* aboutme */
.aboutme{
    width: 100%;
}

.aboutme_wrapper{
    align-items: center;
    margin: 0 auto;
    background-color:#F6F6F6;
    height: auto;
}

.aboutme_block{
    justify-content: center;
    align-items: center;
}

.aboutmeTXT{
    text-align: center;
    margin-bottom: 8px;
    padding: 100px 0 10px 0;
}

.aboutme_text{
    font-size: 18px;
    padding-bottom: 20px ;
    text-align: center;
    
}

.aboutme_text:last-child{
    padding-bottom: 100px;
}

/* /aboutme */

/* skills */

.skills{
    width: 100%;
}

.skills_wrapper{
    align-items: center;
    margin: 0 auto;
    padding: 0px 6em;
}

.skills_block{
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.skillsTXT{
    text-align: center;
    margin-bottom: 8px;
    padding: 80px 0 10px 0;
}

.skills_text{
    text-align: center;
    font-size: 18px;
    padding: 15px 0 60px 0 ;
}

.programes_wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.programes{
    display: flex;
    flex-direction: column;
    padding: 1em 1em 3em 1em;
}

.back{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.prog{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -86px;
    
}

.skills_progTXT{
    font-size: 14px;
    font-weight: 600;
    padding: 24px 0 40px 0;
    text-align: center;
}

.starsall{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 9px;
}

.stars1{
    padding: 15px 0  0 0;
}

/* /skills */

/* portfolio */

.portfolio{
    width: 100%;
}

.portfolio_wrapper{
    align-items: center;
    margin: 0 auto;
}


.portfolio_block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reklama{
    padding: 49px 0 35px 0;
    width: 100%;
    height: auto;

}

.port{
    font-size: 18px;
    font-weight: 500;
    color: #070707;
    padding: 0 0 60px 0;
}

.port:hover{
    text-decoration: none;
}

/* /portfolio */

/* contacts */

.contacts{
 width: 100%;
}

.contacts_wrapper{
    align-items: center;
    margin: 0 auto;
}

.contacts_block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c1{
    padding: 150px 0 20px 0;
}

.contacts_text{
    padding: 0 0 29px 0;
}

.contacts_link{
    padding: 0 15px ;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    height: 38px;
    width: 166px;
    font-weight: 700;
    background-color: #070707;
    border-radius: 20px;
    transition: background-color .2s ease;
}

.contacts_link:hover{
    background-color: #373333;
}

.contacts_icon{
    padding: 85px 0 45px;
}

.icon{
    margin-right: 60px;
}

.icon:last-child{
    margin-right: 0;
}

/* /contacts */
